<!DOCTYPE html>
<html lang="pt-br">
	<head>
	<title>Gregory Pacheco</title>
	<meta charset="utf-8">
	<link rel="icon"          href="/site_media/static/postagens/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/site_media/static/postagens/img/favicon.ico" type="image/x-icon" />
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your keywords">
	<meta name="Gregory Pacheco" content="Gregory Pacheco">
	<link rel="stylesheet" href="/site_media/static/postagens/css/bootstrap.css"     type="text/css" media="screen">
	<link rel="stylesheet" href="/site_media/static/postagens/css/responsive.css"    type="text/css" media="screen">
	<link rel="stylesheet" href="/site_media/static/postagens/css/style.css"         type="text/css" media="screen">
	<link rel="stylesheet" href="/site_media/static/postagens/css/touchTouch.css"    type="text/css" media="screen">
	<link rel="stylesheet" href="/site_media/static/postagens/css/kwicks-slider.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/site_media/static/postagens/js/jquery.js"></script>
  <script type="text/javascript" src="/site_media/static/postagens/js/superfish.js"></script>
	<script type="text/javascript" src="/site_media/static/postagens/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/site_media/static/postagens/js/jquery.kwicks-1.5.1.js"> </script>
	<script type="text/javascript" src="/site_media/static/postagens/js/jquery.easing.1.3.js">   </script>
	<script type="text/javascript" src="/site_media/static/postagens/js/jquery.cookie.js">       </script>    
	<script type="text/javascript" src="/site_media/static/postagens/js/touchTouch.jquery.js">   </script>
	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='/site_media/static/postagens/js/jquery.preloader.js'></"+"script>");}	</script>

	<script>		
		 jQuery(window).load(function() {	
		 $x = $(window).width();		
	if($x > 1024)
	{			
	jQuery("#content .row").preloader();    }	

     jQuery('.magnifier').touchTouch();			
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});	
  		  }); 

	</script>

	<!--[if lt IE 8]>
  		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
 	<![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->
	<!--<![endif]-->
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="/site_media/static/postagens/css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/site_media/static/postagens/css/ie.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <![endif]-->
    </head>

    <body>	
   <!-- <div class="spinner"></div> -->
<!--============================== header =================================-->
<header>
    <div class="container clearfix">
       <div class="row">
          <div class="span12">
        <div class="navbar navbar_	">
            <div class="container">
            <h1 class="brand brand_"><a href="/"><img alt="" src="/site_media/static/postagens/img/logo.png"> </a></h1>
            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">Menu <span class="icon-bar"></span> </a>
		<div class="nav-collapse nav-collapse_  collapse">
		      <ul class="nav sf-menu">
			    <li class="active"><a href="/">Home</a></li>
			    <li class="sub-menu"><a href="/curriculo/">Currículo</a>
				    <ul>
					<li><a href="/deployedbyme/">Developed by me</a>  </li>
					<li><a href="/projetos/">Projetos atuais</a> </li>
				    </ul>
			    </li>
			    <li><a href="http://www.gpzim98.tk">Blog</a></li>
			    <li><a href="/contato/">Contacto        </a></li>
		      </ul>
		 </div>
             </div>
            </div>
      </div>
    </div>
    </div>
    </header>
<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12"> 
        <!--============================== slider =================================-->
        <div class="flexslider">
          <ul class="slides">
            <!--<li> <img src="/site_media/static/postagens/img/slide-6.jpg" alt="" > </li>-->  
            <li> <img src="/site_media/static/postagens/img/slide-1.jpg" alt="" > </li>
            <li> <img src="/site_media/static/postagens/img/slide-2.jpg" alt="" > </li>
            <li> <img src="/site_media/static/postagens/img/slide-3.jpg" alt="" > </li>
            <li> <img src="/site_media/static/postagens/img/slide-4.jpg" alt="" > </li>
            <li> <img src="/site_media/static/postagens/img/slide-5.jpg" alt="" > </li>
          </ul>
        </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2>Bem vindo</h2>
              <div>
            <p align="Justify">Analista de sistemas, Bacharel em Sistemas de Informação pela Faculdade Santo Agostinho de Montes Claros - MG, trabalho a mais de 2 anos com programador, e a mais  de 1 ano profissionalmente. Inicialmente na linguagem C, já passei pelo Pascal, C++ e C#, especializei-me em Java, passando a dominar alguns frameworks e API's como JPA, e Hibernate para ORM, JSF e Jswing para a construção de interfaces web e desktop respectivamente -- EJB3 e Spring Framework. No último ano iniciei os estudos no desenvolvimento para Android.
                               Atualmente dedico me a maior parte do tempo em Python pois acabo de começara a trabalhar com o framework Django como freelancer, e também com o Delphi na grande empresa onde trabalho que é a ATS Informática.</p>
          </div>
            </div>
      </div>
        </div>
  </div>
      
      <!--============================== content =================================-->
      
      <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
      <div class="container">
        <div class="row">
            <!-- Lista de linguagens-->
           
            <!-- Resumos-->
            <ul class="thumbnails thumbnails-1">
              
	      {% for resumo in resumos %}
		<li class="span3">
		  <div class="thumbnail thumbnail-1">
		    <h3>{{resumo.titulo}}</h3>
		    <img  src="/site_media/static/postagens/img/{{resumo.imagem}}" alt="">
		    <section><p align="Justify">{{resumo.conteudo}}</p></section>
		  </div>
		</li>
	      {% endfor %}

              

            </ul>
          </div>
      </div>
        </div>
    <div class="container">
      <div class="row">
        <article class="span6">
          <h3>Gregory Pacheco</h3>
          <div class="wrapper">
            <figure class="img-indent"><img src="/site_media/static/postagens/img/page1-img5.jpg" alt="" /></figure>
            <div class="inner-1 overflow extra">
              <div class="txt-1">"Purifica o teu coração antes de permitires que o amor entre nele, pois até o mel mais doce que há azeda num recipiente sujo."
                                  --Mineiro legítimo, coração celeste e apaixonado por música e tecnologia.</div>
                <div class="border-horiz"></div>
                  <div class="overflow">
                    <ul class="list list-pad">
                      <li><a href="/">Home                       </a></li>
                      <li><a href="/curriculo/">Currículo         </a></li>
                      <li><a href="/deployedbyme/">Developed by me</a></li>
                      <li><a href="http://www.gpzim98.tk">Blog    </a></li>
                    </ul>
                     <ul class="list">
                       <li><a href="/projetos/"   >Projeto atuais </a></li>
                       <li><a href="/curriculo/">Tecnologias    </a></li>
                       <li><a href="/contato/"  >Contato        </a></li>
                     </ul>
                  </div>
            </div>
          </div>
        </article>
        <article class="span6">
          <h3>Developed by me</h3>
          <ul class="list-photo">
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img6.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img7.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img8.jpg " alt="" /></a></li>
            <li class="last"><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img9.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img10.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img11.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img12.jpg " alt="" /></a></li>
            <li class="last"><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img13.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img14.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img15.jpg " alt="" /></a></li>
            <li><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img16.jpg " alt="" /></a></li>
            <li class="last"><a href="/site_media/static/postagens/img/image-blank.png" class="magnifier" ><img src="/site_media/static/postagens/img/page1-img17.jpg " alt="" /></a></li>
          </ul>
        </article>
      </div>
        </div>  
    <ul class="list-social pull-right">
          <li><a class="icon-1" href="http://www.facebook.com/gpzim98" target="_blank"></a></li>
          <li><a class="icon-2" href="https://plus.google.com/u/0/117832241150634399594/posts?tab=XX" target="_blank"></a></li>
          <li><a class="icon-3" href="https://twitter.com/Gpzim98" target="_blank"></a></li>
          <li><a class="icon-4" href="https://www.youtube.com/gpzim981" target="_blank"></a></li>
    </ul>
  </div>
  </div>
<!--============================== footer =================================-->

</body>
</html>
